@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply rounded bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d6dee6;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a6abaf;
}

@media (prefers-color-scheme: dark) {
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff20;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff40;
  }
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  --callout-rgb: 20, 20, 20;
  --callout-border-rgb: 108, 108, 108;
  --card-rgb: 100, 100, 100;
  --card-border-rgb: 200, 200, 200;

  --glow-conic: conic-gradient(
    from 180deg at 50% 50%,
    #2a8af6 0deg,
    #a853ba 180deg,
    #e92a67 360deg
  );

  /* background for pinned items: multiple layers (radial + linear) */
  --item-gradient: radial-gradient(circle at calc(100% + 14px) 9px, rgba(245,158,11,0.25) 0, rgba(245,158,11,0.12) 5%, rgba(0,0,0,0) 16%);
}

/* helper class for pinned overlay (use together with bg-[var(--item-gradient)]) */
.pinned-overlay {
  background-image: var(--item-gradient);
  /* mix-blend-mode: screen; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: default;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: default;
}

input[type="text"] {
  cursor: text;
}

/* JSON viewer */
.w-json-view-container {
  font-size: 0.8rem !important;
  line-height: 1.75 !important;
  padding-left: 4px !important;
  font-family: var(--font-default-mono);
}
.w-rjv-inner:has(.w-rjv-arrow) {
  margin-left: -13px;
}
.w-rjv-inner > div > .w-rjv-curlybraces-end,
.w-rjv-inner > div > .w-rjv-brackets-end {
  margin-left: 8px;
}
.w-rjv-wrap {
  padding-left: 16px !important;
  margin-left: 16px !important;
}
.w-rjv-type {
  opacity: 0.5 !important;
}
.w-rjv-type[data-type="null"] {
  opacity: 1 !important;
}
.w-rjv-object-size {
  opacity: 0.6 !important;
}
.w-rjv-type:not([data-type="null"], [data-type="undefined"]) {
  display: none;
}